# yaml-language-server: $schema=https://instadeep.aichor.ai/schema/latest/manifest.schema.json

kind: AIchorManifest
apiVersion: 0.2.2

builder:
  image: image
  context: pytorch-demo
  dockerfile: ./Dockerfile

spec:
  operator: pytorch
  image: image
  command: "python3 src/main.py"

  tensorboard:
    enabled: true

  types:
    worker:
      count: 3
      resources:
        cpus: 4
        ramRatio: 4
        shmSizeGB: 0
        accelerators: # optional
          gpu:
            count: 1
            type: gpu
            product: NVIDIA-A100-SXM4-80GB-MIG-3g.40gb

